<div id="<%= dom_id comment %>">
  <p>
    <strong>Description:</strong>
    <%= comment.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>

  <p>
    <strong>Film:</strong>
    <%= comment.film_id %>
  </p>

</div>
