<h3>Lista de Filmes</h3>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Ano de lançamento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td><%= film.releaseyear%></td>
        <td><%= link_to "Detalhe sobre filme", film %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Cadastrar novo filme", new_film_path %>
