<h3>Logs dos comentário aprovados</h3>
<table>
  <thead>
    <tr>
      <th>ID do comentário#</th>
      <th>data de aprovação</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.comment_id %></td>
        <td><%= log.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
